{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://iomp.space",
      "useLocalAssets": true
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/abramova.iomp.space/srt-webinar",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1614746712000,
          "date": "2022-04-17T11:20:15.293Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1614746716000,
          "date": "2022-04-17T11:20:17.371Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1614746722000,
          "date": "2022-04-17T11:20:17.981Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1650458424706.2053,
          "date": "2022-04-20T12:40:29.207Z"
        },
        {
          "file": "css/confirm.css",
          "mtimeMs": 1650441678655.952,
          "date": "2022-04-20T08:01:59.682Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1650441680942.2463,
          "date": "2022-04-20T08:02:00.344Z"
        },
        {
          "file": "css/confirm.min.css.map",
          "mtimeMs": 1650441680951.241,
          "date": "2022-04-20T08:02:00.815Z"
        },
        {
          "file": "css/promo.css",
          "mtimeMs": 1650441678856.9443,
          "date": "2022-04-20T08:02:01.312Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1650441681077.1626,
          "date": "2022-04-20T08:02:01.804Z"
        },
        {
          "file": "css/promo.min.css.map",
          "mtimeMs": 1650441681235.064,
          "date": "2022-04-20T08:02:02.254Z"
        },
        {
          "file": "css/styles.css",
          "mtimeMs": 1650523250923.8196,
          "date": "2022-04-21T06:41:04.353Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1650523252462.2102,
          "date": "2022-04-21T06:41:04.859Z"
        },
        {
          "file": "css/styles.min.css.map",
          "mtimeMs": 1650523252464.21,
          "date": "2022-04-21T06:41:05.360Z"
        },
        {
          "file": "fonts/FreeSetExtraCTT.eot",
          "mtimeMs": 1650008594000,
          "date": "2022-04-17T11:20:27.500Z"
        },
        {
          "file": "fonts/FreeSetExtraCTT.svg",
          "mtimeMs": 1650008594000,
          "date": "2022-04-17T11:20:28.070Z"
        },
        {
          "file": "fonts/FreeSetExtraCTT.ttf",
          "mtimeMs": 1650008594000,
          "date": "2022-04-17T11:20:28.649Z"
        },
        {
          "file": "fonts/FreeSetExtraCTT.woff",
          "mtimeMs": 1650008594000,
          "date": "2022-04-17T11:20:29.193Z"
        },
        {
          "file": "fonts/FreeSetExtraCTT.woff2",
          "mtimeMs": 1650008594000,
          "date": "2022-04-17T11:20:29.757Z"
        },
        {
          "file": "fonts/GilroyBold.eot",
          "mtimeMs": 1602295704000,
          "date": "2022-04-17T11:20:30.381Z"
        },
        {
          "file": "fonts/GilroyBold.svg",
          "mtimeMs": 1602295704000,
          "date": "2022-04-17T11:20:31.115Z"
        },
        {
          "file": "fonts/GilroyBold.ttf",
          "mtimeMs": 1602295704000,
          "date": "2022-04-17T11:20:31.720Z"
        },
        {
          "file": "fonts/GilroyBold.woff",
          "mtimeMs": 1602295704000,
          "date": "2022-04-17T11:20:32.362Z"
        },
        {
          "file": "fonts/GilroyBold.woff2",
          "mtimeMs": 1602295704000,
          "date": "2022-04-17T11:20:32.898Z"
        },
        {
          "file": "fonts/GilroyLight.eot",
          "mtimeMs": 1588995544000,
          "date": "2022-04-17T11:20:33.541Z"
        },
        {
          "file": "fonts/GilroyLight.svg",
          "mtimeMs": 1588995542000,
          "date": "2022-04-17T11:20:34.678Z"
        },
        {
          "file": "fonts/GilroyLight.ttf",
          "mtimeMs": 1588995542000,
          "date": "2022-04-17T11:20:35.297Z"
        },
        {
          "file": "fonts/GilroyLight.woff",
          "mtimeMs": 1588995544000,
          "date": "2022-04-17T11:20:35.828Z"
        },
        {
          "file": "fonts/GilroyLight.woff2",
          "mtimeMs": 1588995544000,
          "date": "2022-04-17T11:20:36.373Z"
        },
        {
          "file": "fonts/GilroyRegular.eot",
          "mtimeMs": 1602294934000,
          "date": "2022-04-17T11:20:37.151Z"
        },
        {
          "file": "fonts/GilroyRegular.svg",
          "mtimeMs": 1602294934000,
          "date": "2022-04-17T11:20:38.256Z"
        },
        {
          "file": "fonts/GilroyRegular.ttf",
          "mtimeMs": 1602294934000,
          "date": "2022-04-17T11:20:38.946Z"
        },
        {
          "file": "fonts/GilroyRegular.woff",
          "mtimeMs": 1602294934000,
          "date": "2022-04-17T11:20:39.741Z"
        },
        {
          "file": "fonts/GilroyRegular.woff2",
          "mtimeMs": 1602294936000,
          "date": "2022-04-17T11:20:40.761Z"
        },
        {
          "file": "img/backs/author-mob.png",
          "mtimeMs": 1650374320938.5337,
          "date": "2022-04-19T13:20:44.050Z"
        },
        {
          "file": "img/backs/author.png",
          "mtimeMs": 1650352118022.501,
          "date": "2022-04-19T07:08:48.985Z"
        },
        {
          "file": "img/backs/third-mob.png",
          "mtimeMs": 1650373952328.0295,
          "date": "2022-04-19T13:17:39.959Z"
        },
        {
          "file": "img/backs/third.png",
          "mtimeMs": 1650352054336.1538,
          "date": "2022-04-19T07:08:49.986Z"
        },
        {
          "file": "img/icons/arrows.png",
          "mtimeMs": 1650272433860.5908,
          "date": "2022-04-18T09:02:21.001Z"
        },
        {
          "file": "img/icons/gmail.png",
          "mtimeMs": 1614319639699.2766,
          "date": "2022-04-17T11:20:46.026Z"
        },
        {
          "file": "img/icons/mailru.png",
          "mtimeMs": 1614319641390.2866,
          "date": "2022-04-17T11:20:46.517Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1647771917062.5752,
          "date": "2022-04-17T11:20:48.381Z"
        },
        {
          "file": "img/icons/yahoo.png",
          "mtimeMs": 1614319643462.0012,
          "date": "2022-04-17T11:20:48.874Z"
        },
        {
          "file": "img/icons/yandex.png",
          "mtimeMs": 1614319645635.6538,
          "date": "2022-04-17T11:20:49.368Z"
        },
        {
          "file": "img/images/fifth-mob.png",
          "mtimeMs": 1650445982425.7068,
          "date": "2022-04-20T09:21:29.625Z"
        },
        {
          "file": "img/images/fifth.png",
          "mtimeMs": 1650445994043.391,
          "date": "2022-04-20T09:21:30.332Z"
        },
        {
          "file": "img/images/fourth-mob.png",
          "mtimeMs": 1650445954501.6868,
          "date": "2022-04-20T09:21:30.979Z"
        },
        {
          "file": "img/images/fourth.png",
          "mtimeMs": 1650445969122.3445,
          "date": "2022-04-20T09:21:31.808Z"
        },
        {
          "file": "img/images/main-mob.png",
          "mtimeMs": 1650445922223.61,
          "date": "2022-04-20T09:21:33.692Z"
        },
        {
          "file": "img/images/main.png",
          "mtimeMs": 1650445786353.3308,
          "date": "2022-04-20T09:21:34.450Z"
        },
        {
          "file": "img/images/second-mob.png",
          "mtimeMs": 1650446008194.156,
          "date": "2022-04-20T09:21:35.163Z"
        },
        {
          "file": "img/images/second.png",
          "mtimeMs": 1650445905708.6274,
          "date": "2022-04-20T09:21:35.902Z"
        },
        {
          "file": "js/lib.js",
          "mtimeMs": 1649956175817.684,
          "date": "2022-04-17T11:20:57.046Z"
        },
        {
          "file": "js/lib.min.js",
          "mtimeMs": 1649956197541.0945,
          "date": "2022-04-17T11:20:57.675Z"
        },
        {
          "file": "js/lib.min.js.map",
          "mtimeMs": 1649956197582.068,
          "date": "2022-04-17T11:20:58.257Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1650458214480.4177,
          "date": "2022-04-20T12:37:33.886Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1650458216719.5623,
          "date": "2022-04-20T12:37:34.417Z"
        },
        {
          "file": "js/scripts.min.js.map",
          "mtimeMs": 1650458216742.5474,
          "date": "2022-04-20T12:37:34.861Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1650458424662.232,
          "date": "2022-04-20T12:40:29.641Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1650445933500.069,
          "date": "2022-04-20T09:21:32.988Z"
        },
        {
          "file": "img/images/header-logo.png",
          "mtimeMs": 1650445943303.84,
          "date": "2022-04-20T09:21:32.361Z"
        },
        {
          "file": "img/images/header-logo.svg",
          "mtimeMs": 1650441615803.9302,
          "date": "2022-04-20T08:02:04.767Z"
        },
        {
          "file": "img/revs/rev-1.jpg",
          "mtimeMs": 1650403124000,
          "date": "2022-04-20T12:20:26.242Z"
        },
        {
          "file": "img/revs/rev-2.jpg",
          "mtimeMs": 1650403124000,
          "date": "2022-04-20T12:20:26.990Z"
        },
        {
          "file": "img/revs/rev-3.jpg",
          "mtimeMs": 1650403124000,
          "date": "2022-04-20T12:20:27.690Z"
        },
        {
          "file": "img/revs/rev-4.jpg",
          "mtimeMs": 1650403148000,
          "date": "2022-04-20T12:20:28.564Z"
        },
        {
          "file": "img/revs/rev-5.jpg",
          "mtimeMs": 1650403124000,
          "date": "2022-04-20T12:20:29.366Z"
        },
        {
          "file": "img/revs/rev-6.jpg",
          "mtimeMs": 1650403124000,
          "date": "2022-04-20T12:20:30.290Z"
        },
        {
          "file": "img/revs/rev-7.jpg",
          "mtimeMs": 1650403124000,
          "date": "2022-04-20T12:20:31.012Z"
        },
        {
          "file": "img/revs/rev-8.jpg",
          "mtimeMs": 1650403124000,
          "date": "2022-04-20T12:20:31.756Z"
        },
        {
          "file": "img/revs/rev-9.jpg",
          "mtimeMs": 1650403124000,
          "date": "2022-04-20T12:20:32.460Z"
        },
        {
          "file": "img/revs/rev-1.min.jpg",
          "mtimeMs": 1650457823480.129,
          "date": "2022-04-20T12:32:04.264Z"
        },
        {
          "file": "img/revs/rev-2.min.jpg",
          "mtimeMs": 1650457807310.9236,
          "date": "2022-04-20T12:32:05.001Z"
        },
        {
          "file": "img/revs/rev-3.min.jpg",
          "mtimeMs": 1650457789812.655,
          "date": "2022-04-20T12:32:05.637Z"
        },
        {
          "file": "img/revs/rev-4.min.jpg",
          "mtimeMs": 1650457840611.9019,
          "date": "2022-04-20T12:32:06.195Z"
        },
        {
          "file": "img/revs/rev-5.min.jpg",
          "mtimeMs": 1650457917494.8542,
          "date": "2022-04-20T12:32:06.793Z"
        },
        {
          "file": "img/revs/rev-6.min.jpg",
          "mtimeMs": 1650457900841.1716,
          "date": "2022-04-20T12:32:07.409Z"
        },
        {
          "file": "img/revs/rev-7.min.jpg",
          "mtimeMs": 1650457882636.4104,
          "date": "2022-04-20T12:32:07.987Z"
        },
        {
          "file": "img/revs/rev-8.min.jpg",
          "mtimeMs": 1650457868759.7869,
          "date": "2022-04-20T12:32:08.605Z"
        },
        {
          "file": "img/revs/rev-9.min.jpg",
          "mtimeMs": 1650457854789.1658,
          "date": "2022-04-20T12:32:09.181Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1650523137861.622,
          "date": "2022-04-21T06:41:03.850Z"
        },
        {
          "file": "date/date.php",
          "mtimeMs": 1650459127492.0938,
          "date": "2022-04-20T12:54:39.575Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\lib.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/confirm.pug",
        "config": {
          "customOutput": "confirm\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.php"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/confirm.min.styl",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": false
            }
          },
          "customOutput": "css\\confirm.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": false
            }
          },
          "customOutput": "css\\promo.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": false
            }
          },
          "customOutput": "css\\styles.css"
        }
      },
      {
        "file": "css/confirm.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\confirm.min.css"
        }
      },
      {
        "file": "css/promo.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "js/lib.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js\\lib.min.js"
        }
      },
      {
        "file": "js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      }
    ]
  }
}
