#third
	padding 200px 0 560px
	background-color: #C5C7C6
	background-image: url(../img/backs/third.png)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	min-height 1070px
.rhomb-third-1
	top -150px
	left -100px
.rhomb-third-2
	top 220px
	right 0