#author
	padding 140px 0 90px
	background-color: #E1E3E2
	background-image: url(../img/backs/author.png)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	min-height 1178px
.author-title
	font-family: F
	font-size: 36px
	font-weight: 900
	margin-bottom: 44px
	small
		display block
		color #68A599
		font-family: G
		font-weight: bold
		position relative
		left -50px