F = 'FreeSetExtraCTT', sans-serif;
G = 'Gilroy', sans-serif;

@font-face
	font-family: 'FreeSetExtraCTT';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/FreeSetExtraCTT.eot');
	src: url('../fonts/FreeSetExtraCTT.eot') format('embedded-opentype'),url('../fonts/FreeSetExtraCTT.woff2') format('woff2'),url('../fonts/FreeSetExtraCTT.woff') format('woff'),url('../fonts/FreeSetExtraCTT.ttf') format('truetype'),aurl('../fonts/FreeSetExtraCTT.svg#FreeSetExtraCTT') format('svg');
@font-face
	font-family: 'Gilroy';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('GilroyRegular.eot');
	src: url('../fonts/GilroyRegular.eot');
	src: url('../fonts/GilroyRegular.eot') format('embedded-opentype'),url('../fonts/GilroyRegular.woff2') format('woff2'),url('../fonts/GilroyRegular.woff') format('woff'),url('../fonts/GilroyRegular.ttf') format('truetype'),url('../fonts/GilroyRegular.svg#GilroyRegular') format('svg');
@font-face
	font-family: 'Gilroy';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: local url('GilroyBold.eot');
	src: url('../fonts/GilroyBold.eot');
	src: url('../fonts/GilroyBold.eot') format('embedded-opentype'),url('../fonts/GilroyBold.woff2') format('woff2'),url('../fonts/GilroyBold.woff') format('woff'),url('../fonts/GilroyBold.ttf') format('truetype'),url('../fonts/GilroyBold.svg#GilroyBold') format('svg');
@font-face
	font-family: 'Gilroy';
	font-display: fallback;
	font-weight: 300;
	font-style: normal;
	src: local url('GilroyBold.eot');
	src: url('../fonts/GilroyLight.eot');
	src: url('../fonts/GilroyLight.eot') format('embedded-opentype'),url('../fonts/GilroyLight.woff2') format('woff2'),url('../fonts/GilroyLight.woff') format('woff'),url('../fonts/GilroyLight.ttf') format('truetype'),url('../fonts/GilroyLight.svg#GilroyLight') format('svg');