section#second
	.container
		.row
			.col-md-6.col-md-push-6
				h3.general-title Системно-родовая терапия 
					span работает там, где классическая психология бессильна.
				p.general-text Научим быстро находить отправную точку любой проблемы и  управлять бессознательными процессами.
				+b('mob-none', 'button-up', href, 'Записаться на мастер-клас')
			.col-md-5.col-md-pull-6
				.general-img.general-img-right
					.rhomb.rhomb-second-1
					.rhomb.rhomb-second-2
					.rhomb.rhomb-second-3
					+imgs('mob-none', 'img/images/second.png','Картинка блока')
					+imgs('d-none', 'img/images/second-mob.png', 'Картинка блока')
				+b('d-none', 'button-up', href, 'Записаться на мастер-класс')