section#fourth
	.container
		.row
			.col-md-6.col-md-push-6
				h3.general-title Системно-родовая терапия.
				p.general-text Это мощная личная проработка, решение практически любой проблемы в области психического здоровья.
					br
					| Ответы на все вопросы в области предназначения, финансов, здоровья и отношений.
				+b('mob-none', 'button-up', href, 'Записаться на мастер-класс')
			.col-md-5.col-md-pull-6
				.general-img.general-img-fourth
					.rhomb.rhomb-fourth
					+imgs('mob-none-560', 'img/images/fourth.png','Картинка блока')
					//- +imgs('d-none-560', 'img/images/fourth-mob.png', 'Картинка блока')
					+imgs('d-none-560', 'img/images/fourth.png', 'Картинка блока')
				+b('d-none', 'button-up', href, 'Зарегистрироваться')