section#fifth
	.container
		.row
			.col-md-6
				h3.general-title
					span Основа
					|  системно-родовой терапии - 
					span идеи Берта Хеллингера
				p.general-text Идеи Берта Хеллингера оказали огромное влияние на современную психотерапию и получили признание в профессиональных кругах.
				+b('mob-none', 'button-up', href, 'Записаться на мастер-класс')
				+b('d-none', 'button-up', href, 'Зарегистрироваться')
			.col-md-6
				.general-img.general-img-right.general-img-fifth
					+imgs('mob-none-560', 'img/images/fifth.png','Картинка блока')
					+imgs('d-none-560', 'img/images/fifth.png','Картинка блока')
					//- +imgs('d-none-560', 'img/images/fifth-mob.png','Картинка блока')